* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f4f7fc;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #0056b3; 
    color: white;
  }
  
  .nav2 a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
  }
  
  .nav2 a:hover {
    color: #ffd700; 
  }
  
  .parent-message {
    background-color: #eaf0f6;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .message {
    background-color: white;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  
  .message img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
  